<div class="wrapper">
  <heading *ngIf="getProp(UIHEADER)">
    <branding>
      <div class="logo">
        <span class="logo-mini">CSL</span>
        <span class="logo-lg">Admin CONSOLE</span>
      </div>
    </branding>
    <nav-right>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li>
            <a (click)="signOut($event)">LogOut</a>
          </li>
        </ul>
      </div>
    </nav-right>
  </heading>
  <sidebar *ngIf="getProp(UISIDEBAR)" [model]="sideBarModel">
    <panel>
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/img/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Administrator</p>
          <!-- Status -->
          <a><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
    </panel>
    <optional>
      <!-- search form (Optional) -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
    </optional>
  </sidebar>
  <router-outlet></router-outlet>
  <footing *ngIf="getProp(UIFOOTER)"></footing>
</div>
