<div class="row">
  <div class="col-lg-3 col-xs-6" *ngFor="let modelStatus of boxModel">
    <smallbox [model]="modelStatus"></smallbox>
  </div>
</div>
<div class="row">
  <!-- APIS -->
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">APIS</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Name</th>
              <th>Request Host</th>
              <th>Upstream Url</th>
            </tr>
            <tr *ngFor="let modelApi of apisModel">
              <td>{{modelApi.name}}</td>
              <td>{{modelApi.request_host}}</td>
              <td>{{modelApi.upstream_url}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- CONSUMERS -->
  <div class="col-md-6">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">CONSUMERS</h3>
      </div>
      <div class="box-body">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th>Username</th>
              <th>Custom ID</th>
              <th>ID</th>
            </tr>
            <tr *ngFor="let modelConsumer of consumersModel">
              <td>{{modelConsumer.username}}</td>
              <td>{{modelConsumer.custom_id}}</td>
              <td>{{modelConsumer.id}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
